spring:
  application:
    name: awesomepizza
  datasource:
    url: jdbc:h2:mem:pizzadb;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  servlet:
    context-path: /awesomepizza
